<head>
  <meta charset="UTF-8">
  <title key="page_title">Webgl Experiments</title>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <link rel="apple-touch-icon" sizes="192x192" href="/static/images/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/android-touch-icon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#5bd583" />
  <meta name="msapplication-TileColor" content="#00aba9" />
  <meta name="msapplication-TileImage" content="/static/images/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff" />

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
          integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4="
          crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js"></script>
  <script type="text/javascript">
   WebFont.load({
     google: {
       families: ["Montserrat:400,700"]
     }
   });
  </script>
</head>
