<div class="navbar container mx-auto" data-animation="default" data-collapse="small"
     data-contain="1" data-duration="400">

  <div class="nav-container container">
    <div class="flex justify-between items-center">
      <%- include('_logo', {...logo}) %>
      <nav class="nav-menu" role="navigation">
        <ul class="list-reset flex">
          <li class="mr-6">
            <a class="text-blue no-underline hover:text-blue-darker" href="/">Home</a>
          </li>
          <li class="mr-6">
            <a class="text-blue no-underline hover:text-blue-darker" href="/about">About</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="menu-button">
      <div class="icon-nav-menu"></div>
    </div>
  </div>
  <div class="nav-overlay" data-ignore=""></div>
</div>
