<!DOCTYPE html>
<html lang="en">
  <%- include('_head') -%>
  <body>
    <%- include('_shader_scripts') -%>
    <% var contact_details = {}; %>
    <% var logo = {};  %>

    <div class="article container">
      <canvas id="canvas"></canvas>
    </div>

    <%- include('_scripts') -%>
  </body>
</html>
